
.img-fluid {
    max-width: 100%;
    vertical-align: middle; 
}
.container {    
    width: 1280px;    
    margin: 0 auto;
} 
.header-logo {
    margin-top: 61px;
    margin-bottom: 45px;
    margin-left: 0;
    text-decoration: none; 
    cursor: pointer;
}
.header-logo-text {
    font-family:  ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;  
   font-size: 80px;   
    color: #000000;    
}
.text-colored  {
    color: #4bcaff;
}
.header-menu {   
    width: 1280px;
    height: 69px;
    margin: 50px auto; 
    background-color: #35444f;
    text-align: center;     
}
.header-menu-item { 
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
}
.header-menu-link {
    display: inline-block;
    padding: 20px 30px;     
    font-family: sans-serif;
    font-size: 24px;   
    color: #ffffff;
    text-decoration: none;             
}
.header-menu-link:hover {
    background-color: #222f3a;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
    margin: 0px -1px;  
}
.sidebar {
    display: inline-block;
    vertical-align: top;
    width: 344px;
    height: 400px;
}
.sidebar-menu {        
    border: 1px solid #35444f;
    padding-left: 0;
    margin: 0; 
}
.sidebar-menu-item {
    width: 344px;
    height: 81px;
    list-style-type: none;
    cursor: pointer;
}  
.sidebar-menu-link{
    line-height: 81px;   
    font-size: 24px;
    font-family: sans-serif;
    text-decoration: none;
    display: block;  
    color:#495863;
    text-indent: 40px;
}
.sidebar-menu-link:hover {
    background: #dbdbdb;
    color: #000000;
    text-align: center;
    margin-right: 2px;    
}
.main-content {
    display: inline-block;
}
.main-img  { 
    display: inline-block;
    width: 885px;
    height: 529px;
    border: 1px solid #35444f;
    text-align: center;
    line-height: 529px;
    margin-left: 45px;    
}       
.scale:hover {
    transform: scale(1.2);
    transition: 1s;
}
.main-text {
    width: 820px;
    font-family: sans-serif;
    font-size: 18px;
    color: #2c2c2c;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 75px;
} 
.footer-menu {
    width: 1280px;
    height: 69px;
    background-color: #b4b7ba;
    font-weight: 600;
    margin-bottom: 30px;    
}
.footer-menu-item {
    display: inline-block;  
    text-align: left;
    height: 24px;
    margin: 10px 5px;    
    cursor: pointer;
}
.footer-menu-link{ 
    display: inline-block;
    margin-left: 15px;
    padding-bottom: 3px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regularsans-serif, sans-serif;
    font-size: 25px;
    color: #0c1927;
    font-weight: lighter;
    text-decoration: none;  
}
.footer-menu-link:hover {
    color: #3181a6;
    border-bottom-color: #3181ab;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  
}
.footer-sign {
    display: inline-block;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regularsans-serif, sans-serif;
    font-size: 21px;
    font-weight: lighter;
    margin-left: 220px;     
}