
body {
    font-family: 'Arimo', sans-serif;
} 
.container {
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
table {
    width: 1140px;
    height: 680px;
    background-color: #fafafa;
    border-collapse: collapse;
    border: 22px solid #3a4965; 
}
tr, td {
    box-shadow: inset -5px 0 5px -5px rgba(0, 0, 0, 0.27);
}
.head-row {
    height: 70px;
}
.head-sub-row {
    height: 86px;
}
.green{
    background-color: #89c331;
}
.red {
    background-color: #f04a56;
}
.blue {
    background-color: #20807c;
}
.pricing-plan-cell {
    width: 310px;
    box-shadow: inset -5px 0 5px -5px rgba(0, 0, 0, 0.27);
    font-family: 'Arimo', sans-serif;
    color:  #484848;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
}
.head-cell {
    display: inline;
    color:  #ffffff;
    letter-spacing: 2px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
}
.head-item-standart {   
    font-size: 24px;
}
.head-item-ultimate {    
    font-size: 30px;
}
.head-item-premium {    
    font-size: 24px;
}
.header-text-choose {    
    font-size: 18px;
    margin-top: 26px;
}
.header-text-pricing {    
    font-size: 28px;
    margin-top: -17px;
}
.price {
    color:  #484848;
    font-size: 60px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    float: left;
    margin-top: 25px;
    margin-left: 26px;
    margin-bottom: 35px;
}
.price-cent {
    color:  #484848;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    margin-left: 10px;
    margin-top: 12px;
}
.per-month {
    color:  #484848;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    margin-top: -23px;
}
.row {
    height: 69px;
    text-align:center; 
    vertical-align: middle;  
}
.row > td {
    color:  #484848;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
}
.fa {
    color:  #848484;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    margin-right: 10px;
    vertical-align: middle;
}
.light-grey {
    background-color:  #f2f2f2;
}
.dark-grey {
    background-color:  #e3e3e3;
}
.footer {
    text-align: center;
    vertical-align: middle;
    margin: 15px 0;
}
.footer-pricing-plan {
    background-color: #dddddd;    
}
.footer-standart .footer-premium {
    background-color: #eeeeee;    
}
.footer-ultimate {
    background-color: #f4f4f4;    
}
.footer-all-btn {
    padding: 18px;
    margin: 25px 0;
    border-radius: 5px;
    color: #ffffff;
    width: 192px;
    height: 49px;
    cursor: pointer;
}
.footer-btn-contact {
    border: 0px solid #404040;
    background-color: #484848;
    border-bottom-width: 5px;
    cursor: pointer;
}
.footer-btn-buy-standart {
    border: 0px solid #79b027;
    background-color: #89c331;
    border-bottom-width: 5px;
    cursor: pointer;
}
.footer-btn-buy-ultimate {
    border: 0px solid #df3a46;
    background-color: #f04a56;
    border-bottom-width: 5px;
    cursor: pointer;
}
.footer-btn-buy-premium{
    border: 0px solid #16736f;
    background-color: #20807c;
    border-bottom-width: 5px;
    cursor: pointer;
}
.footer-btn-contact:hover {
    border: 0px solid #484848;    
    background-color: #404040;
    border-bottom-width: 5px;
}
.footer-btn-buy-standart:hover {
    border: 0px solid #89c331;
    background-color: #79b027;
    border-bottom-width: 5px;
}
.footer-btn-buy-ultimate:hover {
    border: 0px solid #f04a56;   
    background-color: #df3a46;
    border-bottom-width: 5px;
}
.footer-btn-buy-premium:hover {
    border: 0px solid #20807c;    
    background-color: #16736f;
    border-bottom-width: 5px;
}