body {
    background: url(../image/unsplash.png);
    background-position: center center;
    background-attachment: fixed; 
    background-size: cover;
    background-repeat: no-repeat;
}
.header-menu-logo {
      width: 1366px;
    height: 55px;
    background: rgba(0, 0, 0, 0.4);
    margin: 0 auto;    
}
.header-logo {
    display: inline-block;
    margin-left: 81px;
    margin-top: 14px;
    text-decoration: none;
    cursor: pointer;   
}
.header-logo-journey {    
    font-family: Verdana;
    font-size: 20px;
    font-weight: 600;
    color: rgba(255, 255, 255, 255);   
}
.header-logo-journey:hover {
    color: #3cb878;
} 
.header-icons-sprait {
    display: inline-block;
    margin-left: 739px;
    margin-top: 17px;   
}
.header-icons {
    display: inline-block;
    margin-right: 25px;   
}
.header-icon-calendar {
    background-image: url("../image/icons-sprite.png"); 
    background-repeat: no-repeat;
    width: 19px;
    height: 19px;
    cursor: pointer;
    background-position: left top;
    float: left;
}
.header-icon-calendar:hover {
    background-position: 0 -25px;
    transition: 0.3s;
}
.header-icon-forum {
    background-image: url("../image/icons-sprite.png");
    background-repeat: no-repeat;
    width: 28px;
    height: 20px;
    cursor: pointer;
    background-position: -21px -1px;
    float: left;
}   
.header-icon-forum:hover {
    background-position: -21px -25px;
    transition: 0.3s;
}
.header-icon-journey {
    background-image: url("../image/icons-sprite.png");
    background-repeat: no-repeat;
    width: 21px;
    height: 20px;
    cursor: pointer;
    background-position: -50px 0;  
    float: left;
}
.header-icon-journey:hover {
    background-position: -50px -25px;
    transition: 0.3s;
}
.header-right-registered-cluster {
    float: right;
    width: 215px;  
    margin-right: 70px;
    margin-top: 19px;   
}
.header-right-registered-cluster > p {
    font-family: Verdana;
    font-size: 12px;
    color: #ffffff;
}
.header-welcome-log-sign-link::before {
    content: "";
    background: #33302e;
    width: 1px;
    height: 19px;
    float: left;
    margin-right: 16px;
}
.header-log-link {
    font-family: Verdana;
    font-size: 12px;
    color: #3cb878;
    text-decoration: none;
    cursor: pointer;   
}
.header-log-link:hover {
    text-decoration: underline;
}
.header-sign-link {
    font-family: Verdana;
    font-size: 14px;
    color:  #3cb878;
    text-decoration: none;
    cursor: pointer;
}
.header-sign-link:hover {
    text-decoration: underline;
}
.login-form-container {    
    width: 444px;
    height: 584px;
    background-color: #ffffff;
    border-radius: 10px;
    position: absolute;    
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 40px));
    margin: 65px auto 0px;   
}
.login-form-container > p {
    font-family: Verdana;
    font-size: 23px;
    color: #434343; 
    font-weight: bold;     
    margin-top: 27px;
    margin-bottom: 20px;    
    padding-left: 60px;
}
.login {    
    font-size: 14px;
    color: #3cb878;
    padding-left: 173px;
    text-decoration: none;
}
.login:hover {
    text-decoration: underline;
}
.square-green {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    margin-top: 30px;
}   
.social-buttons {
    display: flex;
    justify-content: center;    
}
.btn-fb {
    width: 157px;
    height: 46px; 
    display: flex;
    align-items: center;
    cursor: pointer;       
    background-color: #305db8;
    text-decoration: none;
    margin-right: 8px;
    border-radius: 4px;        
}
.btn-fb:hover {
    background-color:#264b96; 
}
.btn-fb:active {
    position: relative;
    top: 1px;
}
.btn-google {
    width: 157px;
    height: 46px;
    display: flex;
    align-items: center;
    cursor: pointer;    
    background-color: #df4a32;
    text-decoration: none;
    margin-left: 4px;
    border-radius: 4px;
}
.btn-google:hover {
    background-color:#c3412c; 
}
.btn-google:active {
    position: relative;
    top: 1px;
}
.btn-fb-name {   
    font-family: Verdana;
    font-size: 16px;
    color: rgba(255, 255, 255, 255);
    margin-top: 10px;
    margin-left: 18px;     
}
.btn-fb-name::before {
    content: "";
    background: #224387;
    width: 1px;
    height: 28px;
    float: left;
    margin-right: 16px;
}   
.btn-google-name {
    font-family: Verdana;
    font-size: 16px;
    color: rgba(255, 255, 255, 255);
    margin-top: 10px;
    margin-left: 16px;
}
.btn-google-name::before {
    content: "";
    background: #af3a28;
    width: 1px;
    height: 28px;
    float: left;
    margin-right: 16px;
}
.btn-fb-logo {
    width: 10px;
    height: 20px;
    margin-left: 15px;     
    text-align: left;
}
.btn-google-logo {
    width: 19px;
    height: 16px;
    text-align: left;
    margin-left: 9px;   
}
 .line-or {
     width: 322px;
     display: flex;
     margin-top: 30px;
     margin-left: 60px;
     margin-bottom: 10px;
 }
 .line-left {
     width: 135px;
     size: 1px;
     color:#eaeaea;      
}
 .line-right {
    width: 135px;
    size: 1px;
    color: #eaeaea;
 }
 .or {
     width: 52px;
     font-family: Verdana;
     font-size: 14px;
     color: rgba(132, 132, 132, 255);
     text-align: center;     
 }
 form {
    width: 322px;
     margin-left: 60px;
     font-family: Verdana;
    font-size: 14px;
    color: rgba(67, 67, 67, 255);    
 }
 .login-form-input {
     width: 305px;
     height: 46px;
     border: 1px solid #eaeaea;
     border-radius: 3px;
     font-size: 14px;
     font-family: Verdana;
     color: #e1e1e1;     
     padding-left: 17px;
     margin-bottom: 4px;
 }
 .login-form-input:focus {
     color: #434343;
     background-color: #ffffff;
     box-shadow: 0px 3px 8px 0px rgba (0,0,0,o.25);
     transition: 0.5;
 }
  .checkbox-terms {
    font-family: Verdana;
    font-size: 14px;
    color: #3cb878;
    text-decoration: none;    
 }
 .checkbox-terms:hover {
    text-decoration: underline;
 }
 .checkbox {
    margin-top: 10px;
    font-family: Verdana;
    color: #434343;
 }
 .btn-account {
     width: 322px;
     height: 46px;
     background: #3cb878;
     cursor: pointer;
     border-radius: 3px;
     border: none;
     font-size: 16px;
     color: #f2faf6;
     margin-top: 25px;
 }
 .btn-account:hover {
     background-color: #329a65;
 }
 .btn-account:active {    
    position: relative;
    top: 1px;
 }
