.main-container {
    background-color: black;
    margin: 0 auto;
}
.container {
    display: flex;
    justify-content: center;   
    margin: 0 auto;
    height: 800px;
    font-family: Verdana, sans-serif;  
    overflow: hidden;
    color:#fe9d4a;
    font-size: 500%;
    font-weight: 600;  
    perspective: 200px;
    text-align: justify;
}
.animation-main-content {
    position: relative; 
    top: 20px;
    transform-origin: 50% 100%;
    animation: animation-main-content 30s linear infinite;
}
.title {
    font-size: 90%;
    text-align: center;}
@keyframes animation-main-content {
    0% {
        top: 0;
        transform: rotateX(20deg)  translateZ(0);
    }
    100% {
        top: -6000px;
        transform: rotateX(25deg) translateZ(-1800px);
    }
}