.main-container {
    width: 1366px;
    height: 768px;
    background-image: url("../Image/background@1X.png");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: hue;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;    
}
.container {
    width: 1066px;
    margin: 0 auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table; 
}
.header {
    width: 100%;
    height: 46px;
    padding-top: 50px;   
}
.logo {    
    background-image: url("../Image/logo.png");
    background-repeat: no-repeat;
    width: 46px;
    height: 44px;
    float: left;    
}
.logo a:hover {
    color: #f26522;   
}
.logo:hover {
    background-image: url("../Image/logohover.png");
}
.logo a {
    text-decoration: none;
    color: #ffffff;
}
.header-text-logo-milan {
    font-family: Verdana;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 29px;
    margin-left: 61px;
    margin-top: 0px;
}
.header-text-logo-holidays {
    font-family: Verdana;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    margin-left: 61px;
    display: inherit;
}
.contacts {
    width: 250px;
    height: 40px;
    margin-top: 10px;
    font-family: Verdana;
    font-size: 18px;
    color: #ffffff;  
    float: right;
}
.contacts > a {
    text-decoration: none;
    color: #ffffff;
}
.main-content {
    margin-top: 45px;
}
.img-tours-sign-block {
    position: relative;
    width: 307px;
    height: 244px;
    margin-right: 69px;
    margin-bottom: 29px; 
    float: left;
    overflow: hidden;    
}
.img-fluid {
    max-width: 100%;
    margin: 0 auto;
}
.img-tours-sign-block:nth-of-type(3n) {
    margin-right: 0px; 
}
.img-sign-item {
    display: inline-block;
    text-decoration: none;
}
 .tour-name-link:hover  {
    color: #f26522;
} 
.img-tour-link { 
    display: inline-block;   
    width: 307px;
    height: 200px;
    border-left:2px solid;
    border-right:2px solid;
    border-top: 2px solid white;
    border-image: linear-gradient(to bottom, #cccccc, rgba(0, 0, 0, 0.05)) 1 49%;
    position: relative; 
}
.tour-name-link {
    font-family: Verdana;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    margin-top: 15px;    
}
.floating-block {
    background-color:rgba(242, 101, 34, 0); 
    top:321px; 
    transition-duration:0.6s;  
    position:absolute;   
    color:#fff;    
    margin-top:-12px;
    display:block;
    width:100%;
    height:63px;
}
 .img-tours-sign-block:hover .floating-block {
    top:151px;
    background-color:rgba(242, 101, 34, 1);
} 
.caption-from {
    font-family: Verdana;
    font-size: 10px;   
    margin-top: 16px;
    margin-left: 21px;
    font-weight: 400;
}
.caption-price {
    float: left;
    font-family: Verdana;    
    font-size: 20px;   
    margin-top: 3px;
    margin-left: 21px;
}
.caption-details {
    float: right;
    font-family: Verdana;   
    font-size: 14px;
    margin-right: 20px;
    margin-top: 6px;
}
.caption-details:after {
    content: '\00A0  \02C3';
    font-size: 14px;
    color: #cccccc;
    font-weight: bold;
}
.footer {
    font-family: Verdana;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    margin-top: 45px;
}












